body {
  font-family: "Open-sans", sans-serif;
  background-color: #fd990b;
  margin-top: 40px;
  margin-bottom: 40px;
}

img {
  max-width: 600px;
}

form {
  background-color: antiquewhite;
  text-align: center;
  max-width: 600px;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
  border: 3px color green;
}

input {
  margin-bottom: 20px;
  border: 1px color green;
  background-color: white;
  color: green;
}

h1,
#top {
  text-align: center;
}

.content {
  background-color: antiquewhite;
  max-width: 600px;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
}

#button {
  width: 100px;
  height: 50px;
  background-color: white;
  color: green;
  transition: all 0.5s ease;
  font-size: 15px;
}
#button:hover {
  transform: scale(1.1);
  font-size: 17px;
}
